body{
    background-color: rgb(149, 183, 233);
    font-family: sans-serif;
}
p{
    text-align: justify;
}

h1{
    font-size: 250%;
    text-align: center;
    text-decoration: underline;
    
}

h2{
    background-color: rgb(56, 130, 241);
    font-size: 150%;
}
h3{
    background-color: lightskyblue;
    color: white;
    font-size: 100%;
}

blockquote{
    font-style: oblique;
}
pre{
    background-color: white;
    font-size: 100%;
    text-align: left;
    font-weight: bold;
}

address{
    font-family: serif;
    font-style: inherit;
    text-align: right;
}